body {
  background-color: #b1b1b1;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}
h1,
h3,
ol,
a,
code {
  margin: 10 auto;
}
code {
  width: 600px;
  background-color: #c0bfbf;
}
