body {
  text-align: center;
  background-color: #b1b1b1;
}

form {
  display: flex;
  flex-direction: column;
}
h1,
h3,
ol,
form {
  margin: 10 auto;
}

.form {
  margin: 10 auto;
  background-color: black;
  color: yellow;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.formes {
  display: flex;
  flex-wrap: wrap;
}

input {
  font-size: 16px;
  height: 30px;
  width: 300px;
  padding: 5px;
  margin: 5px;
}

input[type="submit"] {
  align-self: center;
  background-color: yellow;
  width: 120px;
  border: 0px solid black;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
