body {
  background-color: #b1b1b1;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
h1,
h3,
p,
ol,
a {
  margin: 10 auto;
  max-width: 800px;
}
code {
  background-color: #c4c4c4;
}
li {
  padding: 5px;
}
