body {
  background-color: #b1b1b1;
  display: flex;
  flex-direction: column;
}
h1,
h3,
p,
ol,
form,
#formview {
  margin: 10 auto;
}

form {
  color: yellow;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

input {
  margin: 5px;
  height: 30px;
}

input[type="submit"] {
  align-self: center;
  background-color: yellow;
  width: 120px;
  border: 0px solid black;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
